nav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 5;
  background: #3cbeee;
  transition: 0.3s;
}

nav.active {
  right: 0;
}

.nav_wall {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0;
  z-index: 4;
  background: black;
  opacity: 0.35;
  transition: 0.3s;
}

.nav_wall.active {
  display: block;
}

nav .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 35px;
  padding-top: 50px;
}

nav .links li,
nav .links span {
  width: fit-content;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

nav .links li:hover {
  color: rgba(0, 0, 0, 0.6);
}

nav .links span {
  background: white;
  border-radius: 5px;
  padding: 3px 15px;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 15px;
}

nav .links span:hover {
  background: rgba(255, 255, 255, 0.9);
}
